body {
    background-image: url("../images/background/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;  
    justify-content: center;  
}


/* Slider spacing */


.trending {
    width: 100%;
    padding: 20px 0;
    margin-top: 155px;
    display: flex;
    justify-content: center;
}

.tranding-slider {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tranding-slide {
    width: 300px;
}


/* Recipe Card Styles */


.recipe-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: all 0.35s ease;
}

.recipe-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(197, 90, 2, 0.2);
    transition: all 0.35s ease;
    height: 100%;
}

.recipe-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(197, 90, 2, 0.2);
    transition: all 0.35s ease;
    height: 100%;  
}

.recipe-card img {
    width: 100%;        
    height: 300px;      
    object-fit: cover;  
    object-position: center;
}



.swiper-slide-active .recipe-card:hover {
    transform: translateY(-15px) scale(1.08);
    box-shadow:
        0 0 10px #ff7a00,
        0 0 15px #ff7a00,
        0 0 15px #ff7a00;
}

.nav-link:hover{
    color: #ff5500;
}

/* Buttons */


.btn-primary {
    background-color: #ff7a00;
    border: none;
}

.btn-primary:hover {
    background-color: #ff5500;
}

/* Swiper Navigation */


.swiper-button-next,
.swiper-button-prev {
    color: #ff7a00;
}

.swiper-pagination-bullet {
    background-color: #ff7a00;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background-color: #ff7a00;
    opacity: 1;
}


/* Fonts */


.eb-garamond-bold {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Handelson-Four";
    src: url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.eot");
    src: url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.eot?#iefix")format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.woff2")format("woff2"),
         url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.woff")format("woff"),
         url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.ttf")format("truetype"),
         url("https://db.onlinewebfonts.com/t/b26c8a59ea13cacf5b85141de4c62d7e.svg#Handelson-Four")format("svg");
}




/* Offcanvas Menu */


.offcanvas {
    background-color: #fffaf0;
    max-width: 300px;
}


/* Navbar Layout */


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 70px !important; 
}

.navbar .container-fluid {
    justify-content: flex-start !important; 
}


/* Hamburger Icon */


.hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff7a00; 
    border-radius: 2px;
    transition: 0.3s;
}



/* Positioning for Mobile/Tablet */
@media (max-width: 991px) {
    .navbar .btn {
        position: absolute;
    }
}


@media (max-width: 991px) {
    body {
        background-image: url("../images/background/mid1.png");
    }
}


@media (max-width: 575px) {
    body {
        background-image: url("../images/background/mini1.png");
    }
}
@media (max-width: 575px) {
    .navbar {
        padding-left: 27px !important;
    }
}